<ion-header>
  <ion-toolbar>
    <ion-title>
      Teste Barcode Scanner
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">
      <!-- <div>
        <ion-input type="text" [(ngModel)]="encodeText"></ion-input>
        <ion-button color="primary" (click)="encode()"  expand="block"> <ion-icon name="color-wand"></ion-icon> Encode</ion-button>
      </div> -->
      <div>
        <ion-button color="primary" (click)="scan()" expand="block">
           <ion-icon name="barcode"></ion-icon>   
            Scan
          </ion-button>
      </div>  
  </div>
</ion-content>
<ion-footer>
    <ion-toolbar text-sm-center text-md-center text-lg-center>
      <ion-title>TOTVS - Logística</ion-title>
    </ion-toolbar>
  </ion-footer>
